{% extends "base.html" %}

{% block page_title %}{% block content_title %}{% block title %}Email de modification envoyé{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<img src="/static/img/email.png" class="category_icon">

<p>
    Vous allez recevoir d'ici quelques minutes un email avec les opérations à
    effectuer pour réinitialiser votre mot de passe.<br />
    Vérifier que ce dernier n'a pas été placé dans vos <strong>courriers
    indésirables</strong>.
</p>

{% endblock %}